<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="basket"> 


<!-- 처음 장바구니 저장 저장 -->
<insert id="first">
	insert into mybasketinfo(nick,basket1,type1) values(#{nick},#{basket},#{type})
</insert>

<!-- 1번째에 저장 -->
<update id="basket1">
	update mybasketinfo set basket1 = #{basket},type1=#{type} where nick = #{nick}
</update>


<!-- 2번쨰 저장 -->
<update id="basket2">
	update mybasketinfo set basket2 = #{basket},type2=#{type} where nick = #{nick}
</update>

<!-- 3번째 저장 -->
<update id="basket3">
	update mybasketinfo set basket3 = #{basket},type3=#{type} where nick = #{nick}
</update>

<!-- 4번째 저장 -->
<update id="basket4">
	update mybasketinfo set basket4 = #{basket},type4=#{type} where nick = #{nick}
</update>

<!-- 5번째 저장 -->
<update id="basket5">
	update mybasketinfo set basket5 = #{basket},type5=#{type} where nick = #{nick}
</update>

<!-- 장바구니 1번 행 삭제 -->
<update id="delete1">
	update mybasketinfo set basket1 = null, type1=null where nick = #{nick};
</update>

<!-- 장바구니 2번 행 삭제 -->
<update id="delete2">
	update mybasketinfo set basket2 = null, type2=null where nick = #{nick};
</update>

<!-- 장바구니 3번 행 삭제 -->
<update id="delete3">
	update mybasketinfo set basket3 = null, type3=null where nick = #{nick};
</update>

<!-- 장바구니 4번 행 삭제 -->
<update id="delete4">
	update mybasketinfo set basket4 = null, type4=null where nick = #{nick};
</update>

<!-- 장바구니 5번 행 삭제 -->
<update id="delete5">
	update mybasketinfo set basket5 = null, type5=null where nick = #{nick};
</update>








<!-- 내 정보 가져오기 -->
<select id="myinfo" resultType="java.util.LinkedHashMap">
	select * from mybasketinfo where nick=#{nick}
</select>

</mapper>