<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="matchingboard">
	<!-- mypage에서 필요 정보 가져오기 (test용)-->
	<select id="mypagelist" resultType="java.util.HashMap">
	select * from addinfo where id = #{id}
	</select>
	
	<select id="matchinglist" resultType="java.util.HashMap">
	select * from addinfo where id != #{id}
	</select>
	
	<!-- 내가 고를 상대 확인 -->
	<select id="matchingcheck" resultType="java.util.HashMap">
	SELECT DISTINCT * FROM MATCHINGCHECK WHERE mynick= #{nick}
	</select>
	
	<!-- 나를 선택한 상대 확인 -->
	<select id="matchingforme" resultType="java.util.HashMap">
	SELECT DISTINCT * FROM MATCHINGCHECK WHERE MATCHINGNICK= #{nick}
	</select>
	
	<insert id="matchinginsert">
	insert into matchingcheck(matchingnick,fear,yellow_card,gender,mynick,email,overlap) values(#{matchingnick},#{fear},#{yellow_card},#{gender},#{mynick},#{email},#{overlap})
	</insert>
	
	<insert id="agree">
	insert into matchingagree(id,nick,gender,area,fear,matchtype,yellow_card,email,
	basket1,basket2,basket3,basket4,basket5,
	type1,type2,type3,type4,type5)
	values
	(#{ID},#{NICK},#{GENDER},#{AREA},#{FEAR},#{MATCHTYPE},#{YELLOW_CARD},#{EMAIL},
	#{BASKET1, jdbcType=VARCHAR},#{BASKET2, jdbcType=VARCHAR},#{BASKET3, jdbcType=VARCHAR},#{BASKET4, jdbcType=VARCHAR},#{BASKET5, jdbcType=VARCHAR}
	,#{TYPE1, jdbcType=VARCHAR},#{TYPE2, jdbcType=VARCHAR},#{TYPE3, jdbcType=VARCHAR},#{TYPE4, jdbcType=VARCHAR},#{TYPE5, jdbcType=VARCHAR}
	)	
	</insert>
	
	<select id="mybasketinfo" resultType="java.util.HashMap">
	select * from mybasketinfo where nick = #{nick}	
	</select>
	
	<!-- 매칭리스트에 있는 나의 정보 -->
	<select id="checkagree" resultType="java.util.HashMap">
	select * from matchingagree where nick = #{nick}
	</select>
	
	<!-- 매칭 리스트에 있는 나를 제외한 정보 -->
	<select id="notmylist" resultType="java.util.HashMap">
	select * from matchingagree where nick != #{nick}
	</select>
	
	<!-- 새로운 장바구니 업데이트 -->
	<update id="updatebasket">
	update matchingagree set 
	basket1=#{BASKET1,jdbcType=VARCHAR},
	basket2=#{BASKET2,jdbcType=VARCHAR},
	basket3=#{BASKET3,jdbcType=VARCHAR},
	basket4=#{BASKET4,jdbcType=VARCHAR},
	basket5=#{BASKET5,jdbcType=VARCHAR},
	type1=#{TYPE1,jdbcType=VARCHAR},
	type2=#{TYPE2,jdbcType=VARCHAR},
	type3=#{TYPE3,jdbcType=VARCHAR},
	type4=#{TYPE4,jdbcType=VARCHAR},
	type5=#{TYPE5,jdbcType=VARCHAR}
	where nick = #{NICK}
	</update>
	

	<!-- matching 게시글쓰기 -->
	<insert id="matchingwrite">			
	insert into MATCHINGBOARD(m_no,writer,title,content,LEFT_DATE) values(matching_seq.nextval,#{writer},#{title},#{content},sysdate)
	</insert>
	
	<!-- matching 리스트 보기 -->
	<select id="listallmatching" resultType="java.util.HashMap">
		select * from MATCHINGBOARD order by q_no desc
	</select>
	
	<!-- 페이징 된 리스트 보여주기 -->
	<select id="rownumlist" resultType="java.util.LinkedHashMap">
	select * from (select rownum rn, tt.* from 
	(select * from MATCHINGBOARD ORDER BY left_date desc)tt)
	 where rn  <![CDATA[ >= ]]> ${start} and rn <![CDATA[ <= ]]> ${end}

	</select>

	<!-- matching 총 갯수 -->
	<select id="countmatching" resultType="integer">
		select count(*) from MATCHINGBOARD
		
	</select>
	
	<!-- matching 글 상세 보기 -->
	<select id="detailmatching" resultType="java.util.LinkedHashMap">
		select * from MATCHINGBOARD where m_no = #{m_no}
	</select>
	
	<!-- 조회수 올리기 -->
	<update id="addcount">
	update MATCHINGBOARD set count = count+1 where m_no = #{m_no} 
	</update>
	
	<!-- 리플보기 -->
	<select id="listmatchingreply" resultType="java.util.LinkedHashMap">
	select * from MATCHINGreply where m_no=#{m_no} order by m_no asc
	</select>
	
	<!-- 리플쓰기 -->
	<insert id="insertreply">
	insert into MATCHINGreply(a_no,m_no,left_Date,content,admin) values(matching_seq.nextval,#{m_no},sysdate,#{content},#{nick})
	</insert>
	
	<!-- 글 추천수 올리기 -->
	<update id="addlike">
	update MATCHINGBOARD set m_like = m_like+1 where m_no = #{m_no} 
	</update>

	<!-- 추천 중복 확인하기 -->
	<insert id="overlap">
	insert into matchinglike(matchinglike) values(#{overlap})
	</insert>
	
	<!-- 버튼 색깔 바꾸기 -->
	<select id="likecheck" resultType="java.util.LinkedHashMap">
	select * from matchinglike where matchinglike=#{likecheck}
	</select>
	
	<!-- 좋아요 취소 -->
	<delete id="liekcancel">
	delete from matchinglike where matchinglike=#{likecheck}
	</delete>
	
	<!-- 좋아요 빼기 -->
	<update id="subtractlike">
	update MATCHINGBOARD set m_like = m_like-1 where m_no = #{m_no} 
	</update>
	
	<!-- 글삭제 -->
	<delete id="delete">
	delete from MATCHINGBOARD where m_no = #{m_no}
	</delete>
	
	<!-- 리플도 삭제 -->
	<delete id="deletereply">
	delete from MATCHINGREPLY where m_no = #{m_no}
	</delete>
	
	<!-- 글 수정 -->
	<update id="update">
	update MATCHINGBOARD set title=#{title},content=#{content},left_Date=sysdate where m_no = #{m_no}
	</update>
	
			
</mapper>