<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="matchingboard">
	<!-- mypage에서 필요 정보 가져오기 (test용)-->
	<select id="mypagelist" resultType="java.util.HashMap">
	select * from addinfo where id = #{id}
	</select>
	
	<select id="matchinglist" resultType="java.util.HashMap">
	select * from mypageTest where nick != #{nick}
	</select>
	
	<select id="matchingcheck" resultType="java.util.HashMap">
	SELECT DISTINCT * FROM MATCHINGCHECK WHERE mynick= #{nick}
	</select>
	
	<insert id="matchinginsert">
	
	insert into matchingcheck(nick,fear,yellow_card,gender,mynick,e_mail) values(#{nick},#{fear},#{yellow_card},#{gender},#{mynick},#{e_mail})
	</insert>
	
	
</mapper>