<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">
	<insert id="addinfo">
		insert into addinfo(id, email, gender, birth_y, birth_m, birth_d, area,
		fear, matchtype, intro) 
		values(#{id},#{email},#{gender},#{birth_y},#{birth_m},#{birth_d},#{area},
		#{fear},#{matchtype},#{intro})
	</insert>
	
	<select id="mypageinfo" resultType="hashmap">
		select * from addinfo where id = #{id}
	</select>
	
</mapper>