<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qnaboard">
	
	<!-- qna게시글쓰기 -->
	<insert id="qnawrite">			
	insert into qnaboard(q_no,writer,title,content,LEFT_DATE) values(qnaboard_seq.nextval,#{writer},#{title},#{content},sysdate)
	</insert>
	
	<!-- qna리스트 보기 -->
	<select id="listallqna" resultType="java.util.HashMap">
		select * from qnaboard order by q_no desc
	</select>

	<!-- qna페이징-->
	<select id="listpaging" resultType="java.util.LinkedHashMap">
		<!-- select * from 
		(select rownum rn, tt.* from 
		(select * from qnaboard order by q_no desc) tt) 
		where rn >= 1 and rn <= 10 -->
		select * from 
		( select ROW_NUMBER() OVER(ORDER BY q_no desc) RNUM, 
		q_no,writer,title,content,left_date from qnaboard ) X 
		WHERE X.RNUM BETWEEN #{first} AND #{last}
	</select>
	
	<!-- qna 총 갯수 -->
	<select id="countqna" resultType="integer">
		select count(*) from qnaboard
	</select>
	
	<!-- qna글 상세 보기 -->
	<select id="detailqna" resultType="java.util.LinkedHashMap">
		select * from qnaboard where q_no = #{q_no}
	</select>
	
	<!-- 조회수 올리기 -->
	<update id="addcount">
	update qnaboard set count = count+1 where q_no = #{q_no} 
	</update>
	
	<!-- 리플보기 -->
	<select id="listqnareply" resultType="java.util.LinkedHashMap">
	select * from qnareply where q_no=#{q_no} order by a_no asc
	</select>
	
	<!-- 리플쓰기 -->
	<insert id="insertreply">
	insert into QNAREPLY(a_no,Q_no,left_Date,content,admin) values(qnareply_seq.nextval,#{q_no},sysdate,#{content},#{nick})
	</insert>
	
	<!-- 글 추천수 올리기 -->
	<update id="addlike">
	update qnaboard set q_like = q_like+1 where q_no = #{q_no} 
	</update>
	
	<!-- 댓글 추천 하기 -->
	<update id="addRlike">
	update qnareply	set count = count+1 where q_no = #{q_no} and a_no = #{a_no}
	</update>
	
	<!-- 추천 중복 확인하기 -->
	<insert id="overlap">
	insert into boardlike(boardlike) values(#{overlap})
	</insert>
	
	<!-- 버튼 색깔 바꾸기 -->
	<select id="likecheck" resultType="java.util.LinkedHashMap">
	select * from boardlike where boardlike=#{likecheck}
	</select>
	
	<!-- 좋아요 취소 -->
	<delete id="liekcancel">
	delete from boardlike where boardlike=#{likecheck}
	</delete>
	
	<update id="subtractlike">
	update qnaboard set q_like = q_like-1 where q_no = #{q_no} 
	</update>
	
	
	
</mapper>