<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rideboard">

	<!-- 놀이 기구 등록 -->
	<insert id="ride_write">
		insert into
		rideboard(no,park_name,ride_name,type,image,content,left_date,time,limit,price)
		values(no_seq1.nextval,#{park_name },#{ride_name },#{type
		},#{image},#{content },#{left_date},#{time},#{limit},#{price})
	</insert>
	<!-- 게시판 전체 목록 -->
	<select id="list" resultType="java.util.HashMap">
		select * from rideboard order by no asc
	</select>
	<!-- 게시글 보기 -->
	<select id="detail" resultType="java.util.HashMap">
		select * from rideboard where ride_name= #{ride_name }
	</select>
	<!-- 공원별 게시물 -->
	<select id="parkdetail" resultType="java.util.HashMap">
		select * from rideboard where park_name= #{park_name }
	</select>
	<select id ="parkdetail_type" resultType="java.util.HashMap">
	select * from rideboard where park_name =#{park_name }
	</select>
	<!-- 조회수 -->
	<update id="count">
		update rideboard set count = count+1 where ride_name =#{ride_name }
	</update>

	<!-- 좋아요  -->
   <update id="goodcnt">
   update rideboard set good_cnt = good_cnt+1 where ride_name= #{ride_name}
   </update>
   <!--  좋아요 중복체크 -->
   <insert id="ride_likeoverlap">
   insert into ridelike(ride_like) values (#{overlap})
   </insert>
   <!-- 놀이기구 리뷰 쓰기 -->
   <insert id ="ridereply_write">
   insert into ridereply(no,ridename,score,nick,ment,leftdate) values(no_seq.nextval,#{ride_name},#{score},#{nick},#{ment},sysdate)
   </insert>
   <!-- 놀이기구 리뷰 보기 -->
   <select id="ridereply_list" resultType="java.util.HashMap">
   select * from ridereply where ridename = #{ridename}
   </select>
   
</mapper>