<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rideboard">
	
	<!-- 놀이 기구 등록 -->
	<insert id="ride_write">
		insert into rideboard(no,park_name,ride_name,type,image,content,left_date)
		values(no_seq1.nextval,#{park_name },#{ride_name },#{type },#{image},#{content },#{left_date})
	</insert>
	
	<select id="list" resultType="java.util.HashMap">
	select * from rideboard order by no asc
	</select>
	
	<select id="detail" resultType="java.util.HashMap">
	select * from rideboard where ride_name= #{ride_name }
	</select>
</mapper>