<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="survey">
	<insert id="input">
		insert into match_survey(id,total,match_type,m_first,m_pr_time,m_moral,m_meet,m_communi)
		values(#{id}, #{total}, #{match_type}, #{m_first},#{m_pr_time}, #{m_moral}, #{m_meet}, #{m_communi}
		)
	</insert>
	
	<select id="loadid" resultType="hashmap">
		select * from match_survey where id = #{id}
	</select>
	
	<select id="loadtotalall" resultType="Integer">
		select total from match_survey
	</select>
	
	<select id="avgall" resultType="hashmap">
		SELECT
		count(*),avg(total),avg(m_first),avg(m_pr_time),avg(m_moral),avg(m_meet),avg(m_communi)
		FROM match_survey
	</select>
</mapper>