<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.10.2.xsd">
		
	<mvc:annotation-driven></mvc:annotation-driven>
	<context:component-scan base-package="controllers"></context:component-scan>
	<context:component-scan base-package="beans"></context:component-scan>
	<context:component-scan base-package="views"></context:component-scan>

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"/>
		<property name="suffix" value=".jsp"/>
		<property name="order" value="6"/>
	</bean>
	<bean class="org.springframework.web.servlet.view.tiles3.TilesViewResolver">
		<property name="order" value="4"/>
	</bean>
	<bean class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions" value="/WEB-INF/tiles/*-tiles.xml"/>
	</bean>
	<!-- <mongo:mongo-client host="192.168.104.12" port="27017"></mongo:mongo-client>

	<bean id="mongoTemblate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongo" ref="mongo"></constructor-arg>
		<constructor-arg name="databaseName" value="root"></constructor-arg>
	</bean> -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="uploadTempDir" value="/temp"/>
	</bean>
	<bean class="com.mchange.v2.c3p0.ComboPooledDataSource" id="c3p0">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="jdbcUrl" value="jdbc:oracle:thin:@project-db-tata.clhfi69ookft.ap-northeast-2.rds.amazonaws.com:1521:orcl"/>
		<property name="user" value="tata"/>
		<property name="password" value="oracle"/>
	</bean>	
	<bean class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="c3p0"/>
		<property name="mapperLocations" value="/WEB-INF/mappers/*-mapper.xml"/>
	</bean>
	<bean class="java.util.Date">
	</bean>
	<bean class="com.google.gson.Gson"/>
</beans>
