<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.10.2.xsd">
		
	<mvc:annotation-driven/>
	
	<!-- scan setting -->
	<context:component-scan base-package="controllers"/>
	<context:component-scan base-package="beans"/>
	<context:component-scan base-package="service" />
	<context:component-scan base-package="filters" />
	<context:component-scan base-package="listeners" />
	
	<!-- view resolve -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"/>
		<property name="suffix" value=".jsp"/>
		<property name="order" value="6"/>
	</bean>
	
	<!-- tiles resolve -->
	<bean class="org.springframework.web.servlet.view.tiles3.TilesViewResolver">
		<property name="order" value="4"/>
	</bean>
	<bean class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions" value="/WEB-INF/tiles/*-tiles.xml"/>
	</bean>

	<!-- Interceptor setting -->	
 	<!-- <mvc:interceptors>
		<mvc:interceptor>
			
			<mvc:mapping path="/login/logout.do"/>
			
			mvc 인터셉터를 거치지 않고 예외시킬 URL 요청 정의
			<mvc:exclude-mapping path="/login/loginindex.do"/>
			<mvc:exclude-mapping path="/join/joinindex.do"/>
			
			mvc 인터셉터 컨트롤러 빈객체 정의
			<bean class="interceptor.AuthInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>  -->
	
	<!-- mongo -->

	<!-- <mongo:mongo-client host="13.125.247.3" port="13579" id="mongo"/>
	<mongo:db-factory dbname="root" mongo-ref="mongo" id="dbFactory"/>
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongo" ref="mongo"/>
		<constructor-arg name="databaseName" value="root"/>
		<constructor-arg name="mongoDbFactory" ref="dbFactory"/>
	</bean> -->
	
	<!-- multipart -->
	<!-- multipart resolve / spring framework 에서는 
				단 하나의 MultipartResolver만 등록가능하고, 
				id를 multipartResolver 로 등록해야됨. 
				dispatcherServlet이 id로 검색해서 사용-->
	<!-- <bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="uploadTempDir" value="/temp"/>
	</bean> -->
	
	<!-- SQL -->
	<bean class="com.mchange.v2.c3p0.ComboPooledDataSource" id="c3p0">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="jdbcUrl" value="jdbc:oracle:thin:@project-db-tata.clhfi69ookft.ap-northeast-2.rds.amazonaws.com:1521:orcl"/>
		<property name="user" value="root"/>
		<property name="password" value="oracleoracle"/>
	</bean>	
	
	<bean class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="c3p0"/>
		<property name="mapperLocations" value="/WEB-INF/mappers/*-mapper.xml"/>
	</bean>
	
	<!-- Date -->
	<bean class="java.util.Date">
	</bean>
	
	<!-- Gson -->
	<bean class="com.google.gson.Gson"/>
	
	<!-- mailSender -->
	<bean class="org.springframework.mail.javamail.JavaMailSenderImpl" id="mailSender">
		<property name="host" value="smtp.gmail.com"/>
		<property name="username" value="chokosongi99@gmail.com"/>
		<property name="password" value="chzh1234"/>
		<property name="port" value="587"/>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.smtp.auth">true</prop>
			</props>
		</property>
	</bean>
	
</beans>
